version: "3"

services:
  app:
    build: .
    environment:
      WATCHPACK_POLLING : "true"
    volumes:
      - ./blog-app:/app
    ports:
      - "3000:3000"
    command: >
      sh -c "npm start"